.modal {
  background: #fff;
  width: 500px;
  height: 500px;
  overflow: scroll;
  padding: 20px;
  z-index: 100;
  @apply rounded-lg fixed;
}

.header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}


.body {
  padding-top: 10px;
}

.overlay {
  @apply fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center;
  background-color: rgba(0,0,0,0.7);
}